StudentDormitoryManagementSystem-master/LICENSE
StudentDormitoryManagementSystem-master/README.md
StudentDormitoryManagementSystem-master/sdms.sql
StudentDormitoryManagementSystem-master/server/.gitignore
StudentDormitoryManagementSystem-master/server/index.js
StudentDormitoryManagementSystem-master/server/package-lock.json
StudentDormitoryManagementSystem-master/server/package.json
StudentDormitoryManagementSystem-master/server/models/AdminModel.js
StudentDormitoryManagementSystem-master/server/models/BuildingInformation.js
StudentDormitoryManagementSystem-master/server/models/Dormitory.js
StudentDormitoryManagementSystem-master/server/models/ElectricityCharges.js
StudentDormitoryManagementSystem-master/server/models/Housemaster.js
StudentDormitoryManagementSystem-master/server/models/Hygienic.js
StudentDormitoryManagementSystem-master/server/models/Maintenance.js
StudentDormitoryManagementSystem-master/server/models/Notice.js
StudentDormitoryManagementSystem-master/server/models/Student.js
StudentDormitoryManagementSystem-master/server/routers/adminSystem.js
StudentDormitoryManagementSystem-master/server/routers/HouseMaster.js
StudentDormitoryManagementSystem-master/server/routers/student.js
StudentDormitoryManagementSystem-master/server/uploads/1c4c57166021c8c6efda8e0e1f9a14cb
StudentDormitoryManagementSystem-master/server/uploads/41f85d88b7c54c0cc17498a14f1d8662
StudentDormitoryManagementSystem-master/server/uploads/63ed712b5e8fd61fbdc4335832ef4aec
StudentDormitoryManagementSystem-master/server/uploads/8011c1587d8ad18eae2495d832fe8217
StudentDormitoryManagementSystem-master/server/uploads/defalut.png
StudentDormitoryManagementSystem-master/server/uploads/f1d639f1fc47ab64cf69621ee75874c3
StudentDormitoryManagementSystem-master/server/uploads/f50700ecd9c056140cfee40587ccd503
StudentDormitoryManagementSystem-master/server/utils/auth.js
StudentDormitoryManagementSystem-master/server/utils/common.js
StudentDormitoryManagementSystem-master/server/utils/db.js
StudentDormitoryManagementSystem-master/server/utils/private.js
StudentDormitoryManagementSystem-master/web/.gitignore
StudentDormitoryManagementSystem-master/web/babel.config.js
StudentDormitoryManagementSystem-master/web/package-lock.json
StudentDormitoryManagementSystem-master/web/package.json
StudentDormitoryManagementSystem-master/web/README.md
StudentDormitoryManagementSystem-master/web/public/favicon.ico
StudentDormitoryManagementSystem-master/web/public/index.html
StudentDormitoryManagementSystem-master/web/public/css/reset.css
StudentDormitoryManagementSystem-master/web/public/layui/layui.all.js
StudentDormitoryManagementSystem-master/web/public/layui/layui.js
StudentDormitoryManagementSystem-master/web/public/layui/css/layui.css
StudentDormitoryManagementSystem-master/web/public/layui/css/layui.mobile.css
StudentDormitoryManagementSystem-master/web/public/layui/css/modules/code.css
StudentDormitoryManagementSystem-master/web/public/layui/css/modules/laydate/default/laydate.css
StudentDormitoryManagementSystem-master/web/public/layui/css/modules/layer/default/icon-ext.png
StudentDormitoryManagementSystem-master/web/public/layui/css/modules/layer/default/icon.png
StudentDormitoryManagementSystem-master/web/public/layui/css/modules/layer/default/layer.css
StudentDormitoryManagementSystem-master/web/public/layui/css/modules/layer/default/loading-0.gif
StudentDormitoryManagementSystem-master/web/public/layui/css/modules/layer/default/loading-1.gif
StudentDormitoryManagementSystem-master/web/public/layui/css/modules/layer/default/loading-2.gif
StudentDormitoryManagementSystem-master/web/public/layui/font/iconfont.eot
StudentDormitoryManagementSystem-master/web/public/layui/font/iconfont.svg
StudentDormitoryManagementSystem-master/web/public/layui/font/iconfont.ttf
StudentDormitoryManagementSystem-master/web/public/layui/font/iconfont.woff
StudentDormitoryManagementSystem-master/web/public/layui/font/iconfont.woff2
StudentDormitoryManagementSystem-master/web/public/layui/images/face/0.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/1.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/2.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/3.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/4.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/5.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/6.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/7.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/8.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/9.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/10.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/11.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/12.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/13.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/14.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/15.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/16.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/17.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/18.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/19.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/20.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/21.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/22.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/23.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/24.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/25.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/26.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/27.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/28.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/29.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/30.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/31.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/32.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/33.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/34.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/35.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/36.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/37.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/38.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/39.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/40.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/41.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/42.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/43.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/44.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/45.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/46.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/47.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/48.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/49.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/50.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/51.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/52.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/53.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/54.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/55.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/56.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/57.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/58.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/59.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/60.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/61.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/62.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/63.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/64.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/65.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/66.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/67.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/68.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/69.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/70.gif
StudentDormitoryManagementSystem-master/web/public/layui/images/face/71.gif
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/carousel.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/code.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/colorpicker.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/element.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/flow.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/form.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/jquery.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/laydate.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/layedit.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/layer.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/laypage.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/laytpl.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/mobile.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/rate.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/slider.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/table.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/transfer.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/tree.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/upload.js
StudentDormitoryManagementSystem-master/web/public/layui/lay/modules/util.js
StudentDormitoryManagementSystem-master/web/src/App.vue
StudentDormitoryManagementSystem-master/web/src/main.js
StudentDormitoryManagementSystem-master/web/src/router.js
StudentDormitoryManagementSystem-master/web/src/store.js
StudentDormitoryManagementSystem-master/web/src/assets/404.gif
StudentDormitoryManagementSystem-master/web/src/assets/bg.jpg
StudentDormitoryManagementSystem-master/web/src/assets/login-bg.jpg
StudentDormitoryManagementSystem-master/web/src/assets/login.jpg
StudentDormitoryManagementSystem-master/web/src/assets/logo.png
StudentDormitoryManagementSystem-master/web/src/assets/showcase.png
StudentDormitoryManagementSystem-master/web/src/assets/Starry.jpg
StudentDormitoryManagementSystem-master/web/src/assets/student_bg.png
StudentDormitoryManagementSystem-master/web/src/assets/student_home.jpg
StudentDormitoryManagementSystem-master/web/src/network/housemaster.js
StudentDormitoryManagementSystem-master/web/src/network/http.js
StudentDormitoryManagementSystem-master/web/src/network/request.js
StudentDormitoryManagementSystem-master/web/src/network/student.js
StudentDormitoryManagementSystem-master/web/src/views/admin/AdminHome.vue
StudentDormitoryManagementSystem-master/web/src/views/admin/AdminIndex.vue
StudentDormitoryManagementSystem-master/web/src/views/admin/AdminLogin.vue
StudentDormitoryManagementSystem-master/web/src/views/admin/AdminUserInfo.vue
StudentDormitoryManagementSystem-master/web/src/views/admin/BuildingManagement.vue
StudentDormitoryManagementSystem-master/web/src/views/admin/ChangeAdminPw.vue
StudentDormitoryManagementSystem-master/web/src/views/admin/HousemasterManagement.vue
StudentDormitoryManagementSystem-master/web/src/views/admin/NotFound.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/DormitoryMaintenance.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/DormitoryMaintenanceInfo.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/DormitoryManagement.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/ElectricityCharges.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/HealthManagement.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/HouseMasterChangePassword.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/HouseMasterHome.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/HouseMasterIndex.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/HouseMasterInfo.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/HousemasterLogin.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/HouseMasterUpdateInfo.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/NoticeManagement.vue
StudentDormitoryManagementSystem-master/web/src/views/housemaster/StudentManagement.vue
StudentDormitoryManagementSystem-master/web/src/views/student/Maintenance.vue
StudentDormitoryManagementSystem-master/web/src/views/student/StudentChangPassword.vue
StudentDormitoryManagementSystem-master/web/src/views/student/StudentElectricityCharges.vue
StudentDormitoryManagementSystem-master/web/src/views/student/StudentHome.vue
StudentDormitoryManagementSystem-master/web/src/views/student/StudentHygiene.vue
StudentDormitoryManagementSystem-master/web/src/views/student/StudentIndex.vue
StudentDormitoryManagementSystem-master/web/src/views/student/StudentInfo.vue
StudentDormitoryManagementSystem-master/web/src/views/student/StudentLogin.vue
StudentDormitoryManagementSystem-master/web/src/views/student/StudentUpdateInfo.vue
